
.slicknav_menu,
#menu-global {
	display:none;
}

body {
 
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center center;
  height:100%;
  
  overflow-y:hidden;
  background-color: black

}
/* reset */
span, applet, object, iframe,
h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family:Arial, Helvetica, sans-serif; }

a
{
	text-decoration:none;
	color:#ccc;
}

html {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }
.clearer
{
	clear:both;	
}

.container
{

	display:block;
	
	/*position:relative;*/
}

#menu > li,
#menu2 > li {
    display: inline-block;
	position:relative;
	z-index:100005;
}
.menu-bottom {
    bottom: 0;
    position: absolute;
}
.menu-top {
    top: 0;
    position: absolute;
}
.menu-top,
.menu-bottom
{
	font-size:60px;
	font-weight:bold;
	width:100%;
}
.menu-top li
{
    margin-left: 1%;
    text-align: center;
    vertical-align: top;
    width: 23%;
	z-index:2002;
}
.menu-bottom li
{
	margin-left: 1%;
	width:18%;
	text-align:center;
	vertical-align: bottom;
	z-index:2002;
}
.menu-top li:nth-child(odd) a,
.menu-bottom li:nth-child(odd) a {
 line-height: 80px;
 color:#fff;
 display:block;
 background-color: rgba(251, 176, 65, 0.3);
 -webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
/* .menu-bottom li:nth-child(odd) a
{
	margin-bottom: -62px;	
}


.menu-top li:nth-child(odd) a
{
	margin-top: -62px;	
} */

.menu-top li:nth-child(even) a,
.menu-bottom li:nth-child(even) a  {
  line-height: 80px;
   color:#fff;
   display:block;
   background-color: rgba(90, 74, 66, 0.3);
   -webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.menu-top li:nth-child(even) a:hover,
.menu-bottom li:nth-child(even) a:hover
{
	background-color: rgba(90, 74, 66, 0.6);
}


.menu-top li:nth-child(odd) a:hover,
.menu-bottom li:nth-child(odd) a:hover {
	background-color: rgba(251, 176, 65, 0.6);
}
/* .menu-top li:nth-child(even) a
{
	padding-bottom:40px;
	margin-top: -102px;	
}
.menu-bottom li:nth-child(even) a
{
	padding-top:40px;
	margin-bottom: -102px;	
} */

.menu-top li a:hover
{
	margin-top: 0px;	
}

.menu-bottom li a:hover
{
	margin-bottom: 0px;	
}





	header{
		
		text-align: center;
		font-family: 'Nunito', sans-serif;
		font-weight: bolder;
		font-size: 7.5rem;
		margin-top: 4rem;
	
	
	}
	
	
	
	
	.containerlogos {
		position: absolute;
		width: 100%;
		height: 100%;

		font-family: 'Nunito', sans-serif;
		font-weight: bolder;
		
		padding:0;
		display: flex;
		flex-direction: row;
		
		margin-top: 10rem;
		margin-bottom: 10rem;
		
	
	}

		
	.categorie1 img {
		
		width:33%;
		height:33%;
		position:absolute;
		left:65%;
		
		
	
	}
	
	.categorie2 img{
		position:absolute;
		left:-5%;
		width:75%;
		height:75%;
		
	}

	.categorie3 img {
		position:absolute;
		top: 40%;
		left:65%;
		width:30%;
		height:30%;
		
	}









	@media (max-width: 1330px) {
		.menu-top,
		.menu-bottom
		{
			font-size:40px;
		}
	}


	html {
	
	
		font-size:10px;

	}





	@media (max-width: 900px) {
		/* #menu is the original menu */
		#menu,
		#menu-global,
		#menu2 {
			display:none;
	
		}
		


		.slicknav_menu {
			display:block;
			position: relative;
			z-index: 10;
		}
	

		body{

			overflow-y: visible;
			align-items: center;
			text-align: center;

		}


		
		html {
	
	
			font-size:6px;
	
		}
	
	

		.containerlogos {

			
			
			display: block;
			text-align: center;
			align-items: center;


		}

	
		.categorie1 img {
		
			width:45rem;
			height:45rem;

			position:relative;
			left:auto;
			z-index: 0;
			padding:2rem;
			
			
		
		}
		
		.categorie2 img{
			position:relative;
			left:0%;
			width:45rem;
			height:45rem;
			z-index:0;
			padding:2rem;
		}
	
		.categorie3 img {
			position:relative;
			top: 40%;
			left:auto;
			width:45rem;
			height:45rem;
			padding:2rem;
			
		}
	
		
		
	
	}
	
	